@import "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css";
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
body {
    font-family: 'K2D';
    width: 50%;
    margin-left: 25%;
    display: block;
    height: 500px;
}

* {
    * box-sizing: border-box;
    * }

#title {
    font-size: 45px;
    width: 100%;
    text-align: center;
}

#description {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#survey-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name-label, #email-label, #number-label, #dropdown-label, #language-label, #p-language-label, #textarea-label {
    font-size: 20px;
}

#name, #email, #number, #dropdown {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
    padding-left: 5px;
    border-radius: 5px;
    width: 200px;
    background-color: transparent;
}

#language, #p_lang {
    padding-top: 30px;
}

#radio, #checkbox {
    margin-bottom: 15px;
}

#textarea {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#submit {
    width: 100px;
    height: 40px;
    border:none;
    padding: 0.3;
    border-radius: 30px;
    margin-bottom: 20px;
}
